.badge {
    font-size: 0.7rem;
    position: relative;
    top: -2px;
  }
  .img-responsive{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .navbar{
    position: fixed;
    z-index: 1212;
    width: 100%;
    transition: .5s ease-in-out;
  }
  .active a,
  .active button{
    color: #000!important;
  }
  .navbar a{
    color: #FFF;
    font-size: 17px;
  }
  