<nav class="navbar navbar-expand">
  <div class="container-fluid mx-3">
    <img src="/movies-app.png" alt="Placeholder" class="img-responsive "/>
    <span class="navbar-brand pointer fw-bold" routerLink="movies">Movie App</span>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link pointer" routerLink="movies">Home</a>
        <a class="nav-link pointer" routerLink="/login">Login</a>
        <a class="nav-link pointer" routerLink="/registration">Register</a>
        <div class="btn-group" role="group" aria-label="Language selection">
          <div class="btn-group" role="group">
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ selectedLanguage }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li>
                <a class="dropdown-item" href="#" (click)="changeLanguage('en')"
                  >English</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="changeLanguage('ar')"
                  >العربية</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="changeLanguage('fr')"
                  >Français</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="changeLanguage('zh')"
                  >中文</a
                >
              </li>
            </ul>
          </div>
        </div>

        <a class="nav-link d-flex align-items-center pointer" routerLink="/wishlist">
          <div class="d-flex align-items-center position-relative">
            <i class="fa-solid fa-heart me-2"></i>
            <span 
              class="badge bg-danger text-white rounded-pill ms-1" 
              style="font-size: 0.6rem; padding: 2px 5px; position: relative; top: -8px; left: -8px;"
            >
              {{ wishlistCount$ | async }}
            </span>
          </div>
          Watchlist
        </a>
      </div>
    </div>
  </div>
</nav>
