<div class="container py-4 px-5 mb-5" style="background-color: #f2f0f0">
  <h2 class="mb-4">Welcome to our movie app</h2>
  <p class="mb-4">
    Millions of movies, TV shows and people to discover. Explore now.
  </p>
  <div class="d-flex flex-column flex-sm-row align-items-stretch gap-2">
    <input
      class="form-control text-black-50"
      placeholder="Search and explore...."
      [(ngModel)]="searchKey"
    />
    <button class="btn btn-primary mx-3" [routerLink]="['/search', searchKey]">
      Search
    </button>
  </div>
</div>
